@import url("./filter/filter.css");

.modal {
	background-color: black;
	height: 56px;
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
}
.modal span{
    color: white;
}

.connected{
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-direction: column;
}
.container_nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

#container {
	align-items: center;
	z-index: 6;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: white;
}
#content {
	background-color: white;
	width: 41.01vw;
	left: 405px;
	top: 660px;
	border-radius: 10px;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 67px;
}





.croix{
    position: relative;
    left: 18vw;
    top: -6vw;
	cursor: pointer;
    }
    .titre {
        margin-top: 60px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        font-family: Work Sans;
    }
	.box_image {
		width: calc(100% - 105px);
		height: calc(100% - 135px);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 6px;
		grid-template-rows: 0fr 0fr;
	}

.mini_img img{
    width: 100%;
}
#addProject {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-inline: 105px;
	margin-bottom: 48px;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 237px;
	height: 100px;
}
#addProject button{
	width: 100%;
}
#addPhoto{
		font-family: Syne;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: center;
		height: 36px;
		width: 237px;
		left: 600px;
		top: 1267px;
		border-radius: 60px;
		background: rgba(29, 97, 84, 1);
		color: white;
	
}
#deleteGallery {
	width: 100%;
	font-family: Syne;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	background: transparent;
	border: 0px;
	color: rgba(214, 83, 83, 1);
}