/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}




#box_manager{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#image-preview{
    width: 420px;
    height: 169px;
    background: rgba(232, 241, 246, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#image-preview img{
    width: 420px;
    height: 169px;
}
#containerBtnOptions button{
    background: transparent;
    border: 0;
}
#title{
    width: 420px;
    height: 51px;
    border: 0;
    background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#category{
	padding-left: 0px;
	padding-right: 0px;
    width: 420px;
    height: 51px;
    border: 0;
    background: #FFFFFF;
box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.error-message {
    color: red;
  }

#editChangements {
    background: rgba(255, 255, 255, 1);

	width: 216px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	height: 38px;
	width: 216px;
	left: 688px;
	top: 10px;
	border-radius: 60px;
}
.edit {
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
}
#iconModal img:nth-child(2) {
	position: relative;
	left: -13px;
	top: -3px;
}
#iconModal{
        display: flex;
        justify-content: center;
        width: 12.3px;
}
#textModal{
    margin-right: 21px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
}


main{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
main .h2{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
main .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 355px;
}
main input{
    width: 379px;
}
main label{
    display: flex;
    flex-direction: column;
}
main input[type="submit"]{
    height: 36px;
    margin-bottom: 37px;
}

.filter {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
	margin-bottom: 51px;
	cursor: pointer;
}
.filter li {
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px;
	padding-inline: 20px;
}

.modal {
	background-color: black;
	height: 56px;
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.modal span{
    color: white;
}

.connected{
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-direction: column;
}
.container_nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

#container {
	align-items: center;
	z-index: 6;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: white;
	position: absolute;
top: 95%;
border-radius: 10px;
height: 60vw;
width: 630px;
}
#content {
	background-color: white;
	left: 405px;
	top: 660px;
	border-radius: 10px;
	z-index: 1;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #B3B3B3;
	border-radius: 0;
	padding-bottom: 47px;
}
.closeBtn{
    position: relative;
    left: 18vw;
    top: -6vw;
	cursor: pointer;
    }
    .titre {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        font-family: Work Sans;
    }
	.box_image {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 6px;
		grid-template-rows: 0fr 0fr;
	}

.mini_img img{
	width: 104px;
}
#addProject {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-inline: 105px;
	margin-bottom: 48px;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 237px;
	height: 100px;
}
#addProject button{
	width: 100%;
}
#addPhoto{
		font-family: Syne;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: center;
		height: 36px;
		width: 237px;
		left: 600px;
		top: 1267px;
		border-radius: 60px;
		background: rgba(29, 97, 84, 1);
		color: white;
	
}
#deleteGallery {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	background: transparent;
	border: 0px;
	color: rgba(214, 83, 83, 1);
}
#dark_filter {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
}
#form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 670px;
  }
  
  #containerBtnOptions {
	display: flex;
	justify-content: space-between;
	gap: 33vw
}
  
  #containerBtnOptions button {
	background-color: transparent;
	border: none;
	cursor: pointer;
  }
  
  h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	font-weight: 700;
	font-family: 'Work Sans';
  }
  
  #image-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
  }
  
  #image-preview img {
	width: 58px;
	height: 46px;
  }
  
  #image-preview label {
	background: #CBD6DC;
	border-radius: 50px;
	cursor: pointer;
  }
  
  #image-preview span {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #306685;
	padding-inline: 30px;
  }
  
  #image-upload {
	display: none;
  }
  
  input[type="submit"] {
	margin-top: 30px;
	padding: 10px 20px;
	background-color: #306685;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
  }
  
  input[type="submit"]:hover {
	background-color: #254e5b;
  }
  
  input[type="text"],
  select {
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #ccc;
	font-size: 14px !important;
	font-weight: 100;
	font-family: 'Work Sans';
  }
  
  label {
	display: block;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
	font-family: 'Work Sans';
  }
  
.selected {
	background-color: rgba(29, 97, 84, 1);
	color: rgba(255, 255, 255, 1);
  }
  .modifier {
	font-size: 14px;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	color: black;
	position: absolute;
	transform: translate(50%, 0%);
	padding-top: 4px;
}
.modifier :nth-child(1){
	position: absolute;
	transform: translate(-104%,40%);
}
.modifier :nth-child(2){
	position: absolute;
	transform: translate(-97%,32%);
}
.hide{
	display: none;
  }
  #deletefileimg {
	width: 42px !important;
	position: absolute;
	transform: translate(121%,37%);
}
  .deletefile{
	display: none;
  }

  #closebtnmodal{
	position: absolute;
	transform: translate(17vw,-2vw);
  }
  #graybtn{
	padding-top: 10px;
	padding-bottom: 10px;
  }
  #graybtntext{
	color: #444444 !important;
  }
  #formtitle{
	color: black;
	font-weight: 100 !important;
  }
  .formtitle2{
	color: black;
	width: 67%;
	font-size: 14px !important;
	font-weight: 100;
  }
  #formLogin {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#formLogin #email {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	height: 51px;
	width: 379px;
	margin-bottom: 30px;
}
#formLogin #password {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: 0;
	height: 51px;
	width: 379px;
}
#LabelEmail{
	margin-bottom: 10px;
}
#LabelPassword{
	margin-bottom: 10px;
}
#submitLogin{
	background-color: #1D6154;
	font-size: 13.3px;
}

#nameInput{
	width: 100% !important;
	padding: 0;
	border-radius: 0;
}
#emailInput{
	width: 100% !important;
	padding: 0;
	border-radius: 0;
}
#submitContact{
	background: #1D6154;
	border-radius: 60px;
}