@import url("./login/login.css");
@import url("./editbtn/editbtn.css");
@import url("./filterbtn//filterbtn.css");


#box_manager{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

